@import "palette";

form {
  background-color: $oxford-blue;
  button {
    color: black;
    background-color: $mustard;
    font-size: 20px;
    border: 3px solid black;
    margin: 10px;
  }
  button:hover {
    background-color: lighten($mustard, 10%);
  }
}

#form-button {
  background-color: $mustard;
}

#submit-run-form {
  .MuiSlider-thumbColorPrimary,
  .MuiSlider-track,
  label {
    color: $mustard;
  }

  .MuiSlider-colorPrimary {
    color: $blast-off-bronze;
  }
  .MuiSlider-markLabel {
    color: $cadet;
  }
  .MuiSlider-markLabelActive {
    color: $mustard;
    & * {
      background-color: $mustard;
    }
  }

  .MuiSlider-valueLabel {
    color: $mustard;
    & * {
      font-size: 17px;
      font-weight: bold;
      background-color: $mustard;
      color: black;
    }
  }

  input::placeholder {
    opacity: 40%;
    color: white;
    text-align: center;
  }
  form {
    margin-top: 285px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    border-radius: 20px;
    height: 60%;
  }

  input,
  select {
    height: 25px;
    border-radius: 10px;
    width: 100%;
    color: $mustard;
    background-color: $cadet;
    text-align: center;
  }
  input:hover,
  select:hover {
    background-color: lighten($cadet, 10%);
  }
  input:focus,
  select:focus {
    background-color: $blast-off-bronze;
    outline-width: 0;
    box-shadow: 0 0 0 2px lighten($cadet, 20%);
  }

  div.form-inline-group {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 80px;
    grid-row-gap: 25px;
    margin-bottom: 10px;
    align-content: start;
    padding-bottom: 20px;

    label {
      text-align: center;
    }
  }

  #star-rating {
    margin-bottom: -10px;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
