@use "../abstracts/colors" as *;

form {
    background-color: $oxford-blue;

    .form-link {
        color: $mustard;

        &:hover {
            color: $mustard-accent;
        }
    }

    .form-label {
        display: flex;
        justify-content: space-between;
    }

    .field-error {
        color: $error;

        transition: opacity 0.5s ease-in;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
    }

    #region-select:disabled {
        color: $disabled;
    }

    label {
        color: $mustard;
        font-weight: bold;
        display: flex;
    }

    input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    .formik-field,
    #image-upload-input {
        padding: 0.65rem 0.5rem;
        font-size: 1rem;
        border: 2px solid $cadet;
        background-color: $oxford-blue;
        color: $white;
        border-radius: 10px;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
        margin-bottom: 1.5em;
    }

    #region-select,
    #country-select {
        padding: 0.65rem 0.5rem;
        font-size: 1rem;
        border: 2px solid $cadet;
        background-color: $oxford-blue;
        color: $white;
        border-radius: 10px;
        margin-bottom: 1.5em;
    }

    @media (prefers-color-scheme: dark) {
        input[type="email"],
        input[type="text"],
        input[type="number"],
        .formik-field {
            color: white;
        }

        input[type="email"]::placeholder,
        input[type="text"]::placeholder,
        input[type="number"]::placeholder,
        .formik-field::placeholder,
        textarea {
            color: $cadet;
        }
    }

    input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    .formik-field,
    textarea {
        display: flex;
        width: 24rem;
    }

    #country-select,
    #region-select {
        width: 12rem;
    }

    input,
    select {
        text-align: center;
    }

    .MuiSlider-thumbColorPrimary,
    .MuiSlider-track,
    .MuiSlider-colorPrimary {
        color: $oxford-blue-accent;
    }
    .MuiSlider-markLabel {
        color: $cadet;
    }
    .MuiSlider-markLabelActive {
        color: $mustard;
        & * {
            background-color: $mustard;
        }
    }

    .MuiSlider-valueLabel {
        color: $mustard;
        & * {
            font-size: 15px;
            font-weight: bold;
            background-color: $mustard;
            color: black;
        }
    }

    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1rem;
        border: 2px solid var(--gray-200);
        color: var(--gray-700);
        border-radius: 10px;
        resize: vertical;
        background-color: var(--gray-100);
        box-sizing: border-box;
        padding: 0.65rem 0.5rem;
        font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
            "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
            sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        textarea {
            background-color: var(--gray-800);
            border-color: var(--gray-700);
            color: white;
        }
    }

    input:focus,
    select:focus,
    textarea:focus,
    #region-select:focus,
    #country-select:focus {
        outline: none;
        border: 2px solid $oxford-blue-accent;
    }

    input:invalid,
    select:invalid,
    textarea:invalid {
        border: 2px solid #ff7d87;
        box-shadow: none;
    }

    input[type="checkbox"] {
        display: inline-block;
        height: 1rem;
        font-size: 1rem;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid var(--gray-300);
        width: 1rem;
        background-color: white;
        align-self: center;
        margin-right: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        input[type="checkbox"] {
            background-color: var(--gray-800);
            border-color: var(--gray-600);
        }
    }

    input[type="checkbox"]:hover {
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
        background-size: contain;
        background-color: var(--gray-700);
        border: 2px solid var(--gray-700);
    }

    input[type="checkbox"]:focus-visible,
    input[type="checkbox"]:checked:focus-visible {
        border-color: var(--focus-ring-color);
    }

    @media (prefers-color-scheme: dark) {
        input[type="checkbox"]:checked {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="%23343434" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
            background-color: white;
            border: 2px solid white;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        border: 2px solid var(--gray-300);
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
        align-self: center;
        justify-content: center;
        position: relative;
        display: flex;
    }

    @media (prefers-color-scheme: dark) {
        input[type="radio"] {
            border: 2px solid white;
        }
    }

    @media (hover: hover) {
        input[type="radio"]:hover {
            cursor: pointer;
        }
    }

    input[type="radio"]:checked {
        border: 2px solid var(--gray-700);
    }

    input[type="radio"]:focus-visible,
    input[type="radio"]:checked:focus-visible {
        border-color: var(--focus-ring-color);
    }

    @media (prefers-color-scheme: dark) {
        input[type="radio"]:checked {
            border: 2px solid white;
        }
    }

    input[type="radio"]:checked::before {
        content: "";
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: var(--gray-700);
        align-self: center;
        border-radius: 50%;
    }

    @media (prefers-color-scheme: dark) {
        input[type="radio"]:checked::before {
            background-color: white;
        }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
        border-radius: 10px;
        background-color: var(--gray-700);
        border: 2px solid var(--gray-700);
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        line-height: initial;
        transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
            transform 200ms ease-in-out;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    @media (prefers-color-scheme: dark) {
        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        button {
            background-color: white;
            color: var(--gray-800);
        }
    }

    @media (hover: hover) {
        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        button:hover {
            cursor: pointer;
            background-color: var(--gray-800);
        }
    }

    @media (hover: hover) and (prefers-color-scheme: dark) {
        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        button:hover {
            cursor: pointer;
            background-color: var(--gray-300);
        }
    }

    button:focus-visible,
    input[type="submit"]:focus-visible,
    input[type="reset"]:focus-visible,
    input[type="button"]:focus-visible {
        border-color: var(--focus-ring-color);
        outline: none;
    }
}

.submit-button {
    display: flex;
    justify-content: center;
    .form-button {
        background-color: $mustard;
        &:hover {
            background-color: lighten($mustard, 10%);
        }
    }
}
