@use "../abstracts/colors" as *;

form {
    background-color: $oxford-blue;
    button {
        color: black;
        background-color: $mustard;
        font-size: 20px;
        border: 3px solid black;
        margin: 10px;
    }
    button:hover {
        background-color: lighten($mustard, 10%);
    }
}

.submit-button {
    display: flex;
    justify-content: center;
    #form-button {
        background-color: $mustard;
        &:hover {
            background-color: lighten($mustard, 10%);
        }
    }
}

#submit-run-form {
    .MuiSlider-thumbColorPrimary,
    .MuiSlider-track,
    label {
        color: $mustard;
    }

    .MuiSlider-colorPrimary {
        color: $oxford-blue-accent;
    }
    .MuiSlider-markLabel {
        color: $cadet;
    }
    .MuiSlider-markLabelActive {
        color: $mustard;
        & * {
            background-color: $mustard;
        }
    }

    .MuiSlider-valueLabel {
        color: $mustard;
        & * {
            font-size: 15px;
            font-weight: bold;
            background-color: $mustard;
            color: black;
        }
    }

    input::placeholder {
        opacity: 40%;
        color: white;
        text-align: center;
    }
    form {
        margin-bottom: 150px;
        height: 60%;
    }

    input,
    select {
        height: 25px;
        border-radius: 10px;
        width: 100%;
        color: $mustard;
        background-color: $cadet;
        text-align: center;
    }
    input:hover,
    select:hover {
        background-color: lighten($cadet, 10%);
    }
    input:focus,
    select:focus {
        background-color: $oxford-blue;
        outline-width: 0;
        box-shadow: 0 0 0 2px lighten($oxford-blue-accent, 20%);
    }

    .form-inline-group {
        display: grid;
        grid-template-columns: max-content max-content 25em;
        column-gap: 3em;
        row-gap: 25px;
        margin-bottom: 10px;
        align-content: start;

        .field-error {
            color: $mustard;
            display: inline-block !important;
            -webkit-transition: opacity 0.5s ease-in;
            -moz-transition: opacity 0.5s ease-in;
            -o-transition: opacity 0.5s ease-in;
            -ms-transition: opacity 0.5s ease-in;
        }

        .field-error-invisible {
            opacity: 0;
        }

        label {
            text-align: center;
        }
    }

    #star-rating {
        display: flex;
        justify-content: center;
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
