# Copy this file and remove the .sample suffix in the filename
# .env.sample file for flask-server

# Replace any <placeholders> with an appropriate value
# E.g. EXAMPLE=<placeholder> should be EXAMPLE=value

# AWS S3 Bucket Credentials
AWS_ACCESS_KEY_ID=<Key-ID>
AWS_SECRET_ACCESS_KEY=<Secret-Key>