@use "../abstracts/colors" as *;

html,
body {
    margin: 0;
    padding: 0;
    background-color: $oxford-blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.invisible-element {
    visibility: hidden;
}
