/* Coolors Exported Palette - https://coolors.co/001025-af7a6d-fdd643-fefcfd-5d737e */

/* CSS HEX */
/*--oxford-blue: #001025ff;
--blast-off-bronze: #af7a6dff;
--mustard: #fdd643ff;
--white: #fefcfdff;
--cadet: #5d737eff;

 CSS HSL 
--oxford-blue: hsla(214, 100%, 7%, 1);
--blast-off-bronze: hsla(12, 29%, 56%, 1);
--mustard: hsla(47, 98%, 63%, 1);
--white: hsla(330, 50%, 99%, 1);
--cadet: hsla(200, 15%, 43%, 1);
*/
/* SCSS HEX */
$oxford-blue: #001025ff;
$blast-off-bronze: #af7a6dff;
$mustard: #fdd643ff;
$white: #fefcfdff;
$cadet: #5d737eff;
$oxford-blue-monochromatic: #001025;
$oxford-blue-complement: #250f00;
$oxford-blue-accent: lighten($oxford-blue, 70%);
$oxford-blue-accent-light: lighten($oxford-blue-accent, 10%);
$oxford-blue-accent-lighter: lighten($oxford-blue-accent, 20%);
$black: black;

/* SCSS HSL */
$oxford-blue: hsla(214, 100%, 7%, 1);
$blast-off-bronze: hsla(12, 29%, 56%, 1);
$mustard: hsla(47, 98%, 63%, 1);
$mustard-accent: lighten($mustard, 10%);
$white: hsla(330, 50%, 99%, 1);
$cadet: hsla(200, 15%, 43%, 1);
$error: hsla(2, 97%, 48%, 1);
$disabled: hsla(0, 0%, 55%, 1);

/* SCSS RGB */
$oxford-blue: rgba(0, 16, 37, 1);
$blast-off-bronze: rgba(175, 122, 109, 1);
$mustard: rgba(253, 214, 67, 1);
$white: rgba(254, 252, 253, 1);
$cadet: rgba(93, 115, 126, 1);

$oxford-blue-gradient: linear-gradient(
    160deg,
    rgba(0, 16, 37, 1) 85%,
    rgba(93, 115, 126, 1) 100%
);

/* SCSS Gradient */
$gradient-top: linear-gradient(
    0deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-right: linear-gradient(
    90deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-bottom: linear-gradient(
    180deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-left: linear-gradient(
    270deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-top-right: linear-gradient(
    45deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-bottom-right: linear-gradient(
    135deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-top-left: linear-gradient(
    225deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-bottom-left: linear-gradient(
    315deg,
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
$gradient-radial: radial-gradient(
    #001025ff,
    #af7a6dff,
    #fdd643ff,
    #fefcfdff,
    #5d737eff
);
