@use "../abstracts/colors" as *;
#forgot-password-page-body {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#reset-password-form-container {
    flex-direction: column;
    display: flex;
    text-align: center;
}

#reset-password-form-footer-links {
    justify-self: space-between;
}

#password-reset-header {
    color: $mustard;
    justify-content: center;
}
