@use "../abstracts/colors" as *;

.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $oxford-blue;
}

#runs-leaderboard {
    margin-left: 6em;
    //font-size: 3em;
}
