@use "../abstracts/colors" as *;

.submitted-run-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    #complete-submission-dialogue {
        color: $mustard;
    }

    .calculated-ninja-points-card {
        background-color: $mustard;

        width: 12em;

        #calculated-ninja-points-header {
            color: $black;
            font-weight: bold;
            text-align: center;
        }

        #calculated-ninja-points-text {
            color: $black;
            text-align: center;
        }
    }
    #submit-another-run-button {
        background-color: $oxford-blue-accent;
        margin-top: 2em;
        padding: 1em;
        &:hover {
            background-color: lighten($oxford-blue-accent, 10%);
        }
    }
}

> .submitted-run-space-element {
    width: 26em;
    margin-left: auto;
    margin-right: 1%;
    visibility: hidden;
}
