@use "../abstracts/colors" as *;

.submit-run-form-container {
    display: flex;
    justify-content: space-between;
    > .space-element {
        width: 35em;
    }
    > .submit-run-form {
        margin: 0 4em 0 4em; // This spaces out the elements on the side of the center form on the page
    }
    > .submit-run-help-element {
        color: $mustard;
        width: 35em;
        > .help-panel-container {
            > .help-panel {
                display: inline-block;
                h4,
                p {
                    text-align: center;
                    margin: 0;
                }

                > .help-header {
                    text-align: center;
                    padding: 0.3em;
                    color: $mustard;
                    border-bottom: 2px solid $oxford-blue-accent;
                    border-radius: 10px;
                    margin-bottom: 1em;
                }
                > .help-info-header {
                    color: $oxford-blue-accent;
                }
                > .help-info-paragraph {
                    margin-bottom: 1.5em;

                    color: $mustard-accent;
                }
            }
        }
    }
}
